# Tuples

In [1]:
# Create your first tuple

tuple = ("Pop", 50, 9.1)
tuple

('Pop', 50, 9.1)

In [2]:
# Print the type of tuple

type(tuple)

tuple

### Indexing with Tuples

In [3]:
# Print the variable on each index

print(tuple[0])
print(tuple[1])
print(tuple[2])

Pop
50
9.1

In [5]:
# We can then print the type of each value

print(type(tuple[0]))
print(type(tuple[1]))
print(type(tuple[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
# Use negative index

tuple[-1]

9.1

In [9]:
tuple[-2]

50

In [10]:
tuple[-3]

'Pop'

### Concatenate Tuples

In [11]:
# Concatenate two tuples

tuple1 = tuple + ("lemon", 1)
tuple1

('Pop', 50, 9.1, 'lemon', 1)

### Slicing

In [12]:
# Slice from index 0 to 3

tuple1[0:4]

('Pop', 50, 9.1, 'lemon')

In [13]:
# Get the length of tuple

len(tuple1)

5

### Sorting

In [16]:
Ratings = (1,0,5,4,3,2)
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 1, 2, 3, 4, 5]

### Nested Tuple

In [23]:
NestedT = (1,2,("Love", "honey"), (3,4), ("pop", (5,6)))
NestedT

(1, 2, ('Love', 'honey'), (3, 4), ('pop', (5, 6)))

In [24]:
# Print element on each index

print("Element 0", NestedT[0])
print("Element 1", NestedT[1])
print("Element 2", NestedT[2])
print("Element 3", NestedT[3])
print("Element 4", NestedT[4])

Element 0 1
Element 1 2
Element 2 ('Love', 'honey')
Element 3 (3, 4)
Element 4 ('pop', (5, 6))

In [25]:
# We can use the second index to access other tuples 

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  Love
Element 2, 1 of Tuple:  honey
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  pop
Element 4, 1 of Tuple:  (5, 6)

In [26]:
# We can access strings in the second nested tuples using a third index

NestedT[2][1][0]

'h'